__pycache__/
client_secrets.json
configuration.yaml
credentials.json
debug.log
images/
lib/
logic_states.yaml
run_scp_main.sh
settings.yaml
scp_web.log
scp_main.log
file_maintenance.log
gdrive.log
down_images/
