{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
SCP Settings 
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

		<h1 class="pt-5 pb-2">Welcome!</h1>
		<p class="lead">Raspberry Pi time is {{ rpi_time }}</strong></p>
		<p class="lead"><a href="/SetGoogleFolder/">Set Experiment Google Folder</a></p>

		<p class="lead">Integration Tests</p>
		<ul class="lead">
			<li>
				<a href="/SetGoogleFolder/">Set Experiment Google Folder</a>
			</li><li>
				<a href="/LEDTesting/">LED Testing</a>
			</li><li>
				<a href="/SwitchesAndAnalogsTesting/">Switch and Analog Testing</a>
			</li><li>
				<a href="/CamerasTesting/">Cameras Testing</a>
			</li><li>
				<a href="/MedtronicTesting/">Medtronic Testing</a>
			</li><li>
				<a href="/PartyMode?mode=1">Party Mode Rainbow</a>, 
				<a href="/PartyMode?mode=2">Party Mode Blue-Red</a>
			</li>
		</ul>

		<p class="lead">Admin Commands</p>
		<ul class="lead">
		<li>
			<a href="/Reboot/">RPI Reboot</a>
		</li><li>
			<a href="/Shutdown/">RPI Shutdown </a>
		</li><li>
			<a href="/StopSCPMain/">Stop SCP Main</a>
		</li>
		</li>
		</ul>

    </div>
  </div>
</div>

{% endblock %}